

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*  { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    --orange:#ff914d;
    --purple: #A149FA;
    --blue: #6655c4;
    --gray: #f9f9f9;
    --green: #54a94c;
    --dark-orange: #fd6f27;

}

body 
    { 
    font-family:'Montserrat',sans-serif;
   overflow-x: hidden;

    margin: 0;
    padding: 0;
    
} 



html{
    overflow-x:hidden;
    overflow-y:scroll;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: .6em;
  background-color:none;

}

body::-webkit-scrollbar-track {
    
    background-color:none;  

}


 
body::-webkit-scrollbar-thumb {
 border-radius: 50px;
    background-color: gray;
  
}


.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}

.stroke-text{
    color:var(--orange);
    position:relative;
    display:inline-block;
}

.section-title .stroke-text:before,
.mt-join .stroke-text:before{
    content:"";
    position:absolute;
    bottom: -10px;
    left:0;
    width:100%;
    height:20px;
    z-index:1;
    background-image:url('../img/icons/stroke-line.png');
    background-size:100% 50%;
    background-repeat:no-repeat;
    background-position:center;
}


/*Typography*/

h1,h2,h3,h4{
    font-weight:800;
    margin-bottom:15px;
    color:#222;
    line-height:1.2;
}

h1 
{ 
    font-size: 3.2em; 
} 
     
h2 
{ 
    font-size: 3em;     
} 
     
h3 
    { 
    font-size: 2.5em; 
} 
     
h4 
    { 
    font-size: 2em;
    font-weight:600;     
} 
     
h5,h6 
    { 
    font-size: 1.1em; 
    letter-spacing:.5px; 
    font-weight:600;
    margin-bottom:15px;
    line-height: 1.3;
    color: #222;   
} 
     
p{ 
    font-size: 17px;
    margin-bottom:10px; 
    line-height:1.4;
    font-weight: 500;
    letter-spacing:.7px;    
}

a{
    color: #222;
    text-decoration:none;
    font-weight:500;
    font-size:16px;
    letter-spacing:.5px;
    -webkit-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
}
a:hover{
    color:#000;
}

a i{
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.material-symbols-outlined{
    vertical-align:middle;
}

button{
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

ul{
    padding-left: 0;
    list-style:none;
    margin-bottom:0;
}

img{
    max-width:100%;
    width:100%;
    height:auto;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    -o-object-fit:cover;
       object-fit:cover;

}

input:focus,
textarea:focus,
.form-control:focus{
   -webkit-box-shadow: 0 0 0 0.25rem rgb(153 222 249 / 62%);
           box-shadow: 0 0 0 0.25rem rgb(153 222 249 / 62%);
}

/* General rules */

@media(min-width: 1200px){
    .container-fluid{
        padding: 0 70px;
    }
}

.section-padding{
    padding: 80px 0;
}

.section-title{
    max-width:600px;
    margin: 0 auto;
    text-align:center;
    position:relative;
    padding-bottom:100px;
}
.t-shape:before{
    content:"";
    width: 0;
    height: 0;
    position:absolute;
    border-style: solid;
}
.t-shape.top:before{
    top: -20px;
    left:-20px;
     border-color: var(--blue) transparent transparent transparent;
    border-width: 250px 250px 0 0;
}


.bg-gray{
    background-color:var(--gray);

}
.bg-brown{
    background-color:#fde6ba ;
}

.bg-theme{
    background-color:var(--orange);
}


.t-shape.bottom:before{
    bottom: -20px;    
    right:-20px;
    border-color: transparent transparent var(--blue) transparent;
    border-width: 0 0 250px 250px;
}

.p-relative,
.t-shape{
    position:relative;

}   
.p-relative-ov{
    position:relative;
    overflow: hidden;
}
.bottom-c{
    position:absolute;
    bottom: -50px;
    right:0;
    z-index:0;
}
.bg-element{
    position:absolute;
    z-index:0;
    max-width:150px;

}

.bg-element.left-bcorner{
    bottom: 20px;
    left: 0;
}
.bg-element.top-corner{
    top: 10px;
    right: 20px;
}

.vh-height{
    height:100vh;
}
.icon{
    display:inline-block;
    width:50px;
    height:50px;

}
.icon img{
    max-width:60px;
}

.delay-3{
    -webkit-animation-delay:2.3s;
            animation-delay:2.3s;
}

section{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.bg-img-1{
    background-image:url('../img/bg-img-1.png');
}
.bg-img-2{
    background-image:url('../img/bg-img-2.png');
}
.bg-img-3{
    background-size: contain;
    background-image:url('../img/bg-img-3.png');
}

.sub-heading{
    text-transform:uppercase;
    color: #bfbfbf;
    font-weight:600;
}

[data-aos] {

  visibility: hidden;
}

[data-aos].animate__animated {
  visibility: visible;
}

.img-wrapper{
    width:100%;
    border-radius:10px;
    position:relative;
    overflow:hidden;
}
.bg-green{
    background:#b7ffe5;
}
.bg-lightblue{
    background:#e9dfff;
}
.bg-red{
    background:#ffd9d8;
}
.bg-yellow{
    background:#f5f98c;
}

/* Buttons */
.ham-btn{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu-btn{
   
  display:none;
  position: relative;
  background-color:transparent;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-btn span{
    width: 30px;
  height: 2px;
  background-color:var(--orange);
  display: block;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-btn.open span:nth-child(1) {
   -webkit-transform: translateY(5px) rotate(45deg);
  -ms-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}

.menu-btn.open span:nth-child(2) {
  opacity:0;
  -webkit-transform:translateX(-20px);
      -ms-transform:translateX(-20px);
          transform:translateX(-20px);
}

.menu-btn.open span:nth-child(3) {
   -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}





.btn-primary,.btn-secondary{
    border-radius: 10px;
    padding: 18px 20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    line-height:1.25rem;
    text-transform:uppercase;
    font-size:13px;
    display:inline-block;
    text-align: center;
    color: #fff;
    -webkit-box-shadow:0 2px 8px -1px rgba(0,0,0,0.3);
            box-shadow:0 2px 8px -1px rgba(0,0,0,0.3);
    
}

.btn-primary {
    background-color:var(--orange);
    border: 1px solid var(--orange);
   
}
.btn-secondary{
    background-color:var(--blue);
    border: 1px solid var(--blue);
}


.btn-secondary.border-btn{
    background-color:transparent;
    border-color:#fff;
    color: #fff;
}

.btn-secondary:hover,
.btn-primary:hover,
.btn-secondary.border-btn:hover{
   -webkit-box-shadow:0 0 0 0;
           box-shadow:0 0 0 0;
   color: #fff;

        
}
.slick-arrow{
    width:50px;
    height:50px;
    background-color:var(--orange);
    color: #fff;
    border-radius:50%;
    z-index:2;
}
.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover{
    color: #fff;
    background:var(--dark-orange);
}
.slick-prev:before{
    content:'\f104';
}
.slick-next:before{
    content:'\f105';
}
.slick-next:before , .slick-prev:before{
    font-family:'Font Awesome 5 Free';
    font-weight:900;
    color: #fff;
    opacity:1;

}

.news-slider{
   height:100%;
   position:relative;
   overflow: hidden;
}

.pulse-btn{
  width: 70px;
  height: 70px;
  color: #fff;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  background: var(--orange);
  border-radius: 50%;
  -webkit-animation: shadow-pulse 1s infinite;
          animation: shadow-pulse 1s infinite;
}
@-webkit-keyframes shadow-pulse
{
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 145, 77, 0.7);
            box-shadow: 0 0 0 0px rgba(255, 145, 77, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 0 35px rgba(255, 145, 77, 0);
            box-shadow: 0 0 0 35px rgba(255, 145, 77, 0);
  }
}
@keyframes shadow-pulse
{
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 145, 77, 0.7);
            box-shadow: 0 0 0 0px rgba(255, 145, 77, 0.7);
  }
  100% {
    -webkit-box-shadow: 0 0 0 35px rgba(255, 145, 77, 0);
            box-shadow: 0 0 0 35px rgba(255, 145, 77, 0);
  }
}

.social-btns a{
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    padding-right: 10px;
    font-size: 16px;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration:underline;
    text-underline-position: under;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-btns a:hover span{
    -webkit-transform:translateY(-10px);
        -ms-transform:translateY(-10px);
            transform:translateY(-10px);
}


.social-btns a span{
    color:var(--blue);
    font-size: 30px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    border-radius: 50%;
    margin-right: 10px;
}

[data-aos]{
    pointer-events:initial;
}

.social-btns img{
    max-width:40px;
}

/* navbar */
.breadcrumb{
    display:none;
}

.dash{
    width:35%;
    height:1px;
    display:inline-block;
    background-color:#000;
}

.navbar{
    width:100%;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
    background-color:transparent;
}

.logo img.logo-img{
    max-width:50px;
    margin-right:10px;
}

.logo img.logo-text{
    max-width:130px;
    -webkit-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition:all .3s ease-in;
}
.navbar .menus ul{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.navbar ul li a{
    font-size:13px;
}
.navbar ul li{
    display:inline-block;
    margin-left:20px;
    text-transform:uppercase;
    min-width:70px;
    text-align:center;
    position: relative;
    overflow:hidden;
}

.navbar ul li a:hover{
    color:var(--orange);
}

.navbar.bg-change{
    background-color:#fff;

    -webkit-box-shadow:0 0 30px 0.5px rgb(0 0 0 / 10%);

            box-shadow:0 0 30px 0.5px rgb(0 0 0 / 10%);
}
.navbar.bg-change .logo-text{
    max-width:110px;
}


/* Hero banner  */

.mt-main{
    height:100vh;
    padding-top: 40px;
}

.mt-main .wall-bg{
    -webkit-animation-delay:.5s;
            animation-delay:.5s;
     position:relative;
    background-image:url('../img/map-bg.png');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}
.mt-main .hero-wall{
    min-height:600px;
    height:100%;
    position:relative;
    -webkit-animation-delay:.8s;
            animation-delay:.8s;
    background-image:url('../img/indian-map.png');
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}

.mt-main .hero-content{
   height:100%;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
       -ms-flex-direction:column;
           flex-direction:column;
   -webkit-box-pack:center;
       -ms-flex-pack:center;
           justify-content:center;
}



.mt-main .top-heading span{
    display:inline-block;
    padding: 3px 15px;
    color: #fff;
    margin-right:10px;
    background-color:var(--orange);
    border-radius:50px;
}

.mt-main .content{
    margin:30px 0;
    position:relative;
    
}
.mt-main .exams{
    position:relative;
    height:100%;
    width:100%;
}
.mt-main .exams img{
    position:absolute;
   
    -webkit-animation-duration:1s;
   
            animation-duration:1s;
}


.mt-main .content p{
    padding-left:10px;
    margin-top:40px;
    margin-bottom:30px;
    border-left:2px solid var(--orange);
}


.mt-main .icon.bulb{
    width:40px;
    height:40px;
    position:absolute;
    margin-left:-40px;
    margin-top: -15px;
}

.tL{
    top:30px;
    left: 0;
}
.tR{
    top:30px;
    right: 0;
}
.tT{
    top:40px;
    left:40%;
}
.bL{
    bottom:150px;
    left: 0;
}
.bR{
    top:160px;
    right: 130px;
}


.bB{
    bottom: 150px;
    right: 130px;
}
.mR{
    top: 250px;
    right: 0;
}
.mL{
    top: 200px;
    left: 0;
}
.bmr{
    bottom:50px;
    left: 150px;

}
.mt-main .bottom-c{
    max-width:350px;
}


img.w-30{
    max-width:120px;
    -webkit-animation-delay:1.5s;
            animation-delay:1.5s;
}
img.w-40{
    max-width:140px;
    -webkit-animation-delay:1.8s;
            animation-delay:1.8s;
}

img.w-20{
   max-width:100px;
    -webkit-animation-delay:1.2s;
            animation-delay:1.2s;
}

/* videos section */
.mt-videos .video-slider{
    margin-bottom:50px;
}
.mt-videos .item{
    margin: 20px 10px;
    height: auto;
    -webkit-box-shadow: 0 2px 5px 0.1px rgb(0 0 0 / 12%);
            box-shadow: 0 2px 5px 0.1px rgb(0 0 0 / 12%);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.mt-videos .slick-list{
    padding:0 15% 0 0 !important;
}

.mt-videos .item:hover .info{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.mt-videos .item .info{
    padding: 20px;
    position:absolute;
    bottom:0;
    height:50%;
     -webkit-transform: translateY(73px);
         -ms-transform: translateY(73px);
             transform: translateY(73px);
    -webkit-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    transition:all .2s ease-in;
    left: 0;
    width:100%;
    color: #fff;

    background-color:rgba(0, 0, 0, 0.8);
}
.mt-videos .item .info h5{
    color: #eee;
    font-weight:400;
    font-size:16px;
    line-height:1.6;
    
}   

.mt-videos .item .thumbnail{
    max-height:370px;
    position:relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mt-videos .item .thumbnail img{
    height:100%;
    width:100%;

 }    

 /* features  */

.mt-feature li{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-top:20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mt-feature h4{
    max-width:450px;
}
.mt-feature .icon{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.mt-feature ul{
    padding: 0;
    margin-top: 40px;
    height:100%;

}
.mt-feature .t-shape.top .img-wrapper img{
    height:100%;
}
.mt-feature li p{
    margin-bottom:0;
    max-width:400px;
    margin-left:30px;
}

/* newspaper  */

.mt-news .news-item{
    margin-right:20px;
    height:auto;

    border:1px solid #ccc;
    background-color:#fff;

}
.mt-news .t-shape{
    max-width:400px;
}
.mt-news .news-text{
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
}

.mt-news .news-text p{
   margin-top:20px;
   margin-bottom:40px;
}

.mt-news .slick-next,
.mt-news .slick-prev{
    position:static;
    -webkit-transform:none;
        -ms-transform:none;
            transform:none;
    margin-right:10px;
}

/* subject */

.mt-subject .subject-wrap{
    text-align:center;
    margin: 20px 0;
    padding: 20px 0;
    display: block;
    border-radius:10px;
    position:relative;
}
.mt-subject .book-icon{
    position:absolute;
    top:0;
    left:50%;
    -webkit-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
            transform:translateX(-50%);
    max-width:100px;

}

.mt-subject .subject-wrap:hover .book-img img{
    -webkit-transform:translateY(-10px);
        -ms-transform:translateY(-10px);
            transform:translateY(-10px);
}



.mt-subject .book-img{
    max-width:200px;
    margin: 10px auto;
}

/* Mission */

.mt-mission{
    background-image: url('../img/mission-bg.png');
    background-size: cover;
    background-position: center;
    position:relative;
    overflow:hidden;
}
.mt-mission .mission-wrap{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    max-width:600px;
    color:#fff;
    padding: 50px 0;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    height:100%;

}
.primary-overlay{
    position:relative;
    overflow: hidden;
}
.primary-overlay:before{
    content:"";
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.8);
    position:absolute;
    z-index:0;
}
.mt-mission .element{
    position:absolute;
    width:100px;
    bottom: 10px;
    -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
            transform:rotate(45deg);
    left:50%;
    z-index: 1;
    margin-left:70px;
}




/* Join  */
.mt-join{
    background-image:url(../img/map-bg.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:left top;
}

.mt-join .content{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 50px;
}

/* About page */


.about-bg{
    background-image:url('../img/about-bg.png');
    background-size:cover;
    position:relative;
    -webkit-animation-delay:.3s;
            animation-delay:.3s;
    background-attachment:fixed;
     background-repeat:no-repeat;
}


.about-body:before{
    content:"";
    width:100%;
    height:100%;
    background-image:url('../img/map-bg.png');
    background-size:contain;
    background-position:top left;
    position:fixed;
    background-repeat:no-repeat;
    background-attachment: fixed;
    top:0;
    left: 0;
    z-index:-1;

}

.mt-about .wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:end;
        -ms-flex-pack:end;
            justify-content:flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position:relative;
    z-index:10;
}
.mt-about .about-wrap{
    max-width:600px;
    padding: 100px 0;
    -webkit-animation-delay:.5s;
            animation-delay:.5s;
}

/* contact */
.mt-contact{
    padding-top:100px;
     background-image:url('../img/map-bg.png');
    background-size:contain;
    background-position:left;
    background-repeat:no-repeat;
}
.mt-contact .social-btns{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    margin-top: 40px;
}
.mt-contact .social-btns a{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin-bottom:20px;

}

.mt-contact h1{
    font-size:4em;
}
.mail-link{
    text-decoration:underline;
    color: var(--blue);
}

.mt-contact .contact-wrap{
    margin-top:30px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-animation-delay:.5s;
            animation-delay:.5s;

}



/* footer  */

.mt-footer.section-padding{
    padding:30px 0;
}

.mt-footer .lang a{
    text-transform:uppercase;
    font-weight:500;
    font-size:15px;
    color: #fff;
}
.mt-footer .lang a span{
    margin-right:5px;
    font-size:15px;
    opacity:0;
}
.mt-footer .footer-wrap{
    background-color: var(--orange);
    border-radius:7px;
    padding: 20px;
    position:relative;
    -webkit-box-shadow:0 -15px 1px -2px rgb(0 0 0  / 12%);
            box-shadow:0 -15px 1px -2px rgb(0 0 0  / 12%);
}



/* media queries  */

@media(max-width:991px){ 
    h1,h2,
    .mt-contact h1{
        font-size:2.5em;
    }
    .mt-mission .mission-wrap{
        padding-top:0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
    .img-wrapper{
        margin:30px 0;
    }
    .mt-news .t-shape{
        max-width:600px;
    }
    .column-reverse{
        -webkit-box-orient:vertical;
        -webkit-box-direction:reverse;
            -ms-flex-direction:column-reverse;
                flex-direction:column-reverse;
    }
    .mt-contact{
        background-size:cover;
    }
    .about-bg:before{
        content:"";
        width:100%;
        height:100%;
        background-color:rgba(255,255,255,0.7);

        position:absolute;
        top: 0;
        left: 0;
        z-index:0;
    }
    .about-footer.section-padding{
        padding-top:0;
        padding-bottom:30px;
    }

    .mt-main .row{
        -webkit-box-orient:vertical;
        -webkit-box-direction:reverse;
            -ms-flex-direction:column-reverse;
                flex-direction:column-reverse;
    }
    .mt-main .content{
        max-width:650px;
    }
    .mt-main .hero-wall{
        height:50vh;
    }
    .container-fluid{
        padding:0 40px;
    }
    .mt-main .hero-content{
        padding-top:50px;
    }
    .mt-main .content h1{
        margin-bottom:30px;
    }
}

@media(max-width:768px){ 
    .menu-btn{
        display:block;
    }
    h3{
        font-size:1.8em;
    }
    h4{
        font-size:1.5em;
    }
    
    h5,h6{
        font-size:1.2em;
    }
    .menus{
    position: absolute;
    top: 100%;
    width: 100%;
    visibility:hidden;
    height:0;
    left: 0;
    background: #fff;
    -webkit-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition:all .3s ease-in;
    -webkit-box-shadow:1px 5px 8px rgb(1 0 0 / 14%);
            box-shadow:1px 5px 8px rgb(1 0 0 / 14%);
    }
    .menus ul{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-pack:justify;
            -ms-flex-pack:justify;
                justify-content:space-between;
        opacity:0;
        padding:17px 0;
        height:100%;
        visibility:hidden;
        -webkit-transition:all .2s ease-in;
        -o-transition:all .2s ease-in;
        transition:all .2s ease-in;
        -webkit-transition-delay:.4s;
             -o-transition-delay:.4s;
                transition-delay:.4s;
        
        
    }
    .menus.show ul{
        opacity:1;
        visibility:visible;
        
    }
    

    .menus.show{
        height:100px;
        visibility:visible;
    }
    .mt-news.section-padding{
        padding:0;
    }

    .container-fluid{
        padding:0 40px;
    }
    .mt-feature .feature-points,
    .mt-news .t-shape{
        margin-top: 40px;
    }
    .container{
        padding:0 25px;
    }

    .icon{
        width:80px;
        height:80px;
    }
    .mt-main{
        height:auto;
    }
    .bg-element{
        max-width:100px;
    }
    .mt-join .content{
        padding-left:0;
        margin-top: 50px;

    }
    
    img.w-30{
    max-width:100px;
    -webkit-animation-delay:1.5s;
            animation-delay:1.5s;
    }
    img.w-40{
    max-width:120px;
    -webkit-animation-delay:1.8s;
            animation-delay:1.8s;
    }

    img.w-20{
    max-width:80px;
    -webkit-animation-delay:1.2s;
            animation-delay:1.2s;
    }
    .mL{
        top: 150px;
    }
    .bR{
        top: 170px;
        right: 90px;
    }
    .bL{
        bottom: 200px;
    }
    .bmr{
        bottom: 100px;
        left: 50px;
    }
    .tT{
        top: 80px;
    }
    .tR{
        top: 80px;
    }
    .mt-main .hero-content{
        margin-top: -50px;
    }

    .mt-main .bottom-c{
        bottom: -60px;
        right: -50px;
       
    }
    .social-btns a{
        margin-bottom: 20px;
    font-size: 13px;
    margin-right: 15px;
    padding-right: 0;
    }
    .social-btns img{
        max-width:30px;
    }
    .t-shape:before{
        display:none;
    }
    .bg-img-3{
        background-size: cover;
    }
    
    .slick-track{
        margin-bottom:30px;
    }
}

@media(max-width: 568px){
    h1,h2{
        font-size:2em;
    }    

    .section-title{
        max-width:300px;
        padding-bottom:30px;
    }

    .container-fluid{
        padding:0 20px;
    }
    .mt-main .icon.bulb{
        display:none;
    }
    .mt-main .hero-content{
        padding-top: 0;
    }
    .bB{
        right: 100px;
    }
}